[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/gaitelyrique-theme"]
	path = themes/gaitelyrique-theme
	url = https://github.com/osunyorg/gaitelyrique-theme
